Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [ ]:
def is_symmetrical(num):
  str1 = str(num)
  count = 0
  for i in range(len(str1)):
    if str1[i] != str1[len(str1)-i-1]:
      count = 1
   
  if count != 0 :
    return False
  else:
    return True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [9]:
def multiply_nums(str1):
  sum = 1
  li = str1.split(",")
  for i in li:
    sum = sum* int(i)

  return sum

In [10]:
multiply_nums("1,2,3,4")

24

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [18]:
def square_digits(num):
  str1 = ""

  for i in str(num):
    str1 = str1 + str(int(i)*int(i))

  return int(str1)

In [19]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [20]:
def setify(li):
  li2 = []

  for i in li:
    if i not in li2:
      li2.append(i)

  return li2

In [21]:
setify([1,3,3,5,5])

[1, 3, 5]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [28]:
def mean(num):
  sum = 0
  for i in str(num):
    sum = sum + int(i)

  sum = sum/(len(str(num)))

  return sum

In [30]:
mean(12345)

3.0