1. Write a Python program to Extract Unique values dictionary values?

In [ ]:
dict_values = {"one" : [1,6,7,8],
               "two" : [3,8,3,1,1],
              "three": [5,4,2,9]} 
 

print(f"the orginal dictionary is {dict_values}")

x = []
for i in dict_values.values():
  for j in i:
    x.append(j)
    ## we are getting keys as a list so each element we store in a new list

x = sorted(set(x)) 
# we know that set stores only unique values so we use this and sorted used to sort in ascending order 

print(f"this is the new list having all the unique values of the list :- {x}")

the orginal dictionary is {'one': [1, 6, 7, 8], 'two': [3, 8, 3, 1, 1], 'three': [5, 4, 2, 9]}
this is the new list having all the unique values of the list :- [1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Write a Python program to find the sum of all items in a dictionary?

In [ ]:
dict_values = {"one" : 200,
               "two" : 400,
              "three": 890} 
sum = 0
for i in dict_values.values():
  sum = sum + i
                
print(f"this is the sum of all items {sum}")

this is the sum of all items 1490

3. Write a Python program to Merging two Dictionaries?

In [ ]:
dict1 = {"car" : "tiago"}
dict2 = {"bike" : "kawasaki"}
dict2.update(dict1)
dict2

# this is how we can merge dict1 in dict2

{'bike': 'kawasaki', 'car': 'tiago'}

4.Write a Python program to convert key-values list to flat dictionary?

In [ ]:
li_keys = [1 , 2 , 3 , 4 ]
li_values = ["vandan" , "ankit" , "shooter" , "betu"]
dict1 = {}

for i in range(len(li_keys)):

  dict1.update({li_keys[i] : li_values[i]})

print(dict1)

# this is how we can convert the list of key and value as a dictionary

{1: 'vandan', 2: 'ankit', 3: 'shooter', 4: 'betu'}

5. Write a Python program to insertion at the beginning in OrderedDict?

In [ ]:
from collections import OrderedDict

dict1 = OrderedDict([(1,100) , (2,200) , (3,300)])
print(type(dict1))

insert = OrderedDict([(4,400)])
# insert.values()

final = OrderedDict(list(insert.items()) + list(dict1.items())) 
print(final)
# this is how we can insert at th begning

<class 'collections.OrderedDict'>
OrderedDict([(4, 400), (1, 100), (2, 200), (3, 300)])

6. Write a Python program to check order of character in string using OrderedDict()?

In [1]:
from collections import OrderedDict 
def checkOrder(string, pattern): 
    dic = OrderedDict.fromkeys(string) 
    ptr = 0
    for key,value in dic.items(): 
        if (key == pattern[ptr]): 
            ptr = ptr + 1
        if (ptr == (len(pattern))): 
            return 'True'
    return 'False'

string = 'Study tonight'
pattern = 'stu'
print (checkOrder(string,pattern))

False

7. Write a Python program to sort Python Dictionaries by Key or Value?

In [10]:
mydict = { 10 : "vandann" , 7 : "raj" , 4 : "ankit" , 2 : "akshat" }

mykeys = sorted(list(mydict.keys()))
sorted_dict = {}
for i in mykeys:
  sorted_dict.update({i : mydict[i]})

sorted_dict

{2: 'akshat', 4: 'ankit', 7: 'raj', 10: 'vandann'}