Question1. Create a function that takes three arguments a, b, c and returns the sum of the
numbers that are evenly divided by c from the range a, b inclusive.
Examples
evenly_divisible(1, 10, 20) ➞ 0
# No number between 1 and 10 can be evenly divided by 20.
evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30
evenly_divisible(1, 10, 3) ➞ 18

In [6]:
def func(a,b,c):
  li = []
  for i in range(a,b+1):
    if i % c == 0:
      li.append(i)

  return sum(li)

In [7]:
func(1,10,2)

30

Question2. Create a function that returns True if a given inequality expression is correct and
False otherwise.
Examples
correct_signs(&quot;3 &lt; 7 &lt; 11&quot;) ➞ True
correct_signs(&quot;13 &gt; 44 &gt; 33 &gt; 1&quot;) ➞ False
correct_signs(&quot;1 &lt; 2 &lt; 6 &lt; 9 &gt; 3&quot;) ➞ True

In [15]:
def Func(str1):

  if eval(str1) :
    print("True")
  else:
    print("False")

In [18]:
Func("3<7<11")

True

Question3. Create a function that replaces all the vowels in a string with a specified character.
Examples
replace_vowels(&quot;the aardvark&quot;, &quot;#&quot;) ➞ &quot;th# ##rdv#rk&quot;
replace_vowels(&quot;minnie mouse&quot;, &quot;?&quot;) ➞ &quot;m?nn?? m??s?&quot;
replace_vowels(&quot;shakespeare&quot;, &quot;*&quot;) ➞ &quot;sh*k*sp**r*&quot;

In [44]:
def replace_vowels(str1,r):
  for i in range(len(str1)):
    if str1[i] in ['a','e','i','o','u'] :
      str1 = str1.replace(str1[i],r)

  return str1

In [45]:
replace_vowels("the aardvark","#")

'th# ##rdv#rk'

Question4. Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120
factorial(3) ➞ 6
factorial(1) ➞ 1
factorial(0) ➞ 1

In [46]:

def factorial(n):
   if n == 1:
       return n
   else:
       return n*factorial(n-1)

In [47]:
factorial(5)

120

Hamming distance is the number of characters that differ between two strings.
To illustrate:
String1: &quot;abcbba&quot;
String2: &quot;abcbda&quot;
Hamming Distance: 1 - &quot;b&quot; vs. &quot;d&quot; is the only difference.
Create a function that computes the hamming distance between two strings.
Examples
hamming_distance(&quot;abcde&quot;, &quot;bcdef&quot;) ➞ 5
hamming_distance(&quot;abcde&quot;, &quot;abcde&quot;) ➞ 0
hamming_distance(&quot;strong&quot;, &quot;strung&quot;) ➞ 1

In [50]:
def hamming_distance(str1,str2):
  if len(str1) == len(str2) :
    count = 0
    for i in range(len(str1)):
      if str1[i] != str2[i]:
        count = count+1

  return count

In [51]:
hamming_distance("strong","strung")

1

In [52]:
hamming_distance("abcde","bcdef")

5